<div class="background-image"></div>
<div class="container" id='container'>
  <div id='welcome' align='center' class="">
    <a href="#portfolio"><button id='portfolio-button' ng-click='' type="button" class="btn btn-primary nav-button">My Portfolio <i class="fa fa-line-chart" aria-hidden="true"></i></button></a>
    <h1><i class="fa fa-university" aria-hidden="true"></i>iBuffett<i class="fa fa-university" aria-hidden="true"></i></h1>
    <h3>"Scared money don't make no money."</h3>
    <h5>-Young Jeezy</h5>
  </div>
  <div id='main' align='center' class="">
    <div ng-controller='stockController as stock'>
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="ticker">Ticker</label>
          <input ng-model='symbol' type="text" class="form-control" id="ticker" placeholder="Enter ticker">
        </div>
        <button id='search' ng-click='stock.search(symbol)' type="button" class="btn btn-primary">Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </form>
      <div ng-show='stock.name' id='stock-box' class=''>
        <h1>{{stock.price | currency}}</h1>
        <h3 ng-class="{'text-danger': stock.change<0, 'text-success':stock.change>0}">{{stock.change | currency}} ({{stock.changePercent}})</h6>
          <table class="table table-condensed table-bordered table-success">
            <thead>
              <tr>
                <th>Company</th>
                <th>Ticker</th>
                <th>Previous Close</th>
                <th>Opening Price</th>
                <th>Volume</th>
                <th>Day's Range</th>
                <th>PE Ratio</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{stock.name}}</td>
                <td>{{stock.symbol | uppercase}}</td>
                <td>{{stock.previous | currency}}</td>
                <td>{{stock.open | currency}}</td>
                <td>{{stock.volume}}</td>
                <td>${{stock.range}}</td>
                <td>{{stock.ratio}}</td>
              </tr>
            </tbody>
          </table>
          <div ng-show='stock.name' class="row">
            <div class='col-xs-7' id='chart'></div>
            <div class="col-xs-5" id='news'>
              <div class="panel panel-primary">
                <div class="panel-heading">News Related to {{stock.name}}</div>
                <div align='left' class="panel-body">
                  <ul>
                    <li ng-repeat="item in stock.newsList | limitTo: 10"><a href="{{item.url}}">&gt;{{item.title}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
