<div class="background-image"></div>
<div align='center' id='portfolio-body' class='container'>
  <a href="#home"><button id='main-button' ng-click='' type="button" class="btn btn-primary nav-button">Return Home <i class="fa fa-home" aria-hidden="true"></i></button></a>
  <h1><i class="fa fa-university" aria-hidden="true"></i>iBuffett<i class="fa fa-university" aria-hidden="true"></i></h1>
  <h3>"If stock market experts were so expert, they <br> would be buying stock, not selling advice."</h3>
  <h5>-Norman Ralph Augustine</h5>
  <div ng-controller='portfolioController as portfolio' class="container">
    <div id='portfolio-row' class="row">
      <div class="col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Your Portfolio</div>
          <div class="panel-body">
            <table id='portfolio-table' class="table table-condensed table-bordered table-success">
            <thead>
              <tr>
                <th>Company</th>
                <th>Ticker</th>
                <th>Shares Owned</th>
                <!-- <th>Average Price</th> -->
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in portfolio.portfolioData">
              <td>{{item.name}}</td>
              <td>{{item.symbol | uppercase}}</td>
              <td>{{item.quantity}}</td>
              <!-- <td>{{portfolio.total / portfolio.ownedQuantity | currency}}</td>
              <td>{{portfolio.average * portfolio.ownedQuantity | currency}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Buy & Sell Shares</div>
          <div class="panel-body">
            <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="ticker">Ticker</label>
              <input ng-model='symbol' type="text" class="form-control" id="ticker" placeholder="Enter ticker">
            </div>
            <button id='portfolio-search' ng-click='portfolio.search(symbol)' type="button" class="btn btn-primary">Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </form>
          <div id='search-portfolio' class="row">
              <table id='portfolio-table' ng-show='portfolio.name' class="table table-condensed table-bordered table-success">
                <thead>
                  <tr>
                    <th>Company</th>
                    <th>Ticker</th>
                    <th>Last Price</th>
                    <th>Previous Close</th>
                    <th>Opening Price</th>
                    <th>Volume</th>
                    <th>Day's Range</th>
                    <th>PE Ratio</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{portfolio.name}}</td>
                  <td>{{portfolio.symbol | uppercase}}</td>
                  <td>{{portfolio.price | currency}}</td>
                  <td>{{portfolio.previous | currency}}</td>
                  <td>{{portfolio.open | currency}}</td>
                  <td>{{portfolio.volume}}</td>
                  <td>${{portfolio.range}}</td>
                  <td>{{portfolio.ratio}}</td>
                </tr>
              </tbody>
            </table>
          <div ng-show="portfolio.symbol" class="row">
            <form name="purchaseShares" class="form-inline">
              <div class="form-group">
                <label for="input-shares" class="sr-only">Quantity of Shares</label>
                <input type="number" ng-model ="quantity" name="quantity" min='1' class="form-control" id="input-quantity" placeholder="Quantity of {{portfolio.symbol | uppercase}} shares" required>
              </div>
              <button ng-disable="{{quantity}}<1" ng-click="portfolio.buy(quantity, portfolio.symbol, portfolio.name)" type="submit" class="btn btn-primary">Place Market Order <span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>
            </form>
            <h4 ng-show="quantity">{{quantity}} shares of {{portfolio.name}} at {{portfolio.price | currency}} = {{quantity * portfolio.price | currency}}</h4>
            <h2 ng-show="quantity">Buying Power: {{portfolio.buyingPower | currency}}</h2>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
